{% extends 'base.html.twig' %}
{% block title %} {{ article.slug }}{% endblock %}
{% block body %}
    {{ parent() }}
    <div>
        <a href="{{ path('app_article') }}"><button class="button"><b>Retour</b></button></a>
    </div>

    <div class="container">

        <div class="card-show">
            <img src="{{ asset(vich_uploader_asset(article,'imageFile')) }}" alt="{{ article.title }}" style="width:100%">
            <div class="card-body-show">
                <h1>{{ article.title |capitalize }}</h1>
                <p>
                    {{ article.content | capitalize }}
                </p>

                <p class="date">Publié le {{ article.createdAt | date('d/m/Y H:i')}} </p>
            </div>
        </div>





    </div>

{% endblock %}

